.createContainer {
    margin: 2rem;
}

.createTitle {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 1rem;

}

.createTitle::before {
    content: '';
    width: 45px;
    height: 5px;
    left: 1;
    position: absolute;
    z-index: -1;
    top: 0px;
    background-color: #2178d4;
    border-radius: 2px;
}
