.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
    gap: 2rem;
}

.login::before {
    content: '';
    background: url('../../assets/login.jpg') no-repeat center ;
    background-size: cover;
    border-radius: 0.25rem;
    margin-top: 1rem;

}

.form {
    max-width: 30rem;
    padding: 1rem;
}

